# gradle

.gradle/
build/
out/
classes/

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# qmxdre1

run/
src/main/java/net/minecraft
src/main/java/net/minecraftforge
src/main/java/net/optifine
src/main/resources/assets/minecraft/mcpatcher
src/main/resources/assets/minecraft/optifine